body{
    font-family: 'Roboto', sans-serif;
    background:rgb(217, 221, 228);
  }

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: transparent;
  }
    

.side_panel{
    height: 100%; 
    width: 180px;
    position: fixed; 
    background: rgb(20, 139, 194);
    z-index: 99;
  }

.side_panel h1{
    color: white;
    text-align: center;
    line-height: 60px;
    background: rgb(17, 123, 172);
    font-size: 16px;
    user-select: none;
    
  }

.side_panel ul a{
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-left: 15px;
    display: block;
    line-height: 50px;
    color: white;
    font-size: 14px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    transition: .2s;
  }

.side_panel i{
    font-style: normal;
  }

.side_panel li:hover a{
    padding-left: 25px;
    color: rgb(172, 204, 240);
  }



.proj_name{
    position: fixed;
    line-height: 58px;
    width: 100%;
    left: 180px;
    background:linear-gradient(-90deg, rgb(55, 163, 212),rgb(20, 139, 194)) ;
    z-index: 999;
}

.proj_name i{
    position: relative;
    color: white;
    left: 20px;
    font-style: normal;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
     z-index: 999;
}

.project_all {
    position: absolute;
    background-color: white;
    padding: 20px;
    top: 100px;
    left: 220px;
    right: 40px;
    border-radius: 10px;
    border: 1px solid rgb(187, 187, 187);
    z-index: 99;
}

h2{
  text-transform: uppercase;
}

input{
  position: relative;
  width: 100%;
  padding-top: 25px;
  font-size: 16px;
  color: rgb(90, 90, 90);
  margin-bottom: 10px;
  border: none;
  background: transparent;
  border-bottom: 1px solid rgb(211, 211, 211)
}

.add_task_button{
  position: relative;
  width: 100px;
  cursor: pointer;
  height: 40px;
  background-color: #2FD4AE;
  color: rgb(83, 83, 83);
  box-shadow: none;
  outline: none;
  border: 0;
  border-radius: 40px;
  transition: .2s;
}

.add_task_button:hover{
  background-color: rgb(68, 226, 189);
}

.tasks{
  margin-top: 10px;
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
}

.task{
  border-bottom: 1px solid rgb(238, 238, 238);
}

.tasks .True{
  padding: 10px;
  line-height: 50px;
  font-style: normal;
  color: rgb(92, 92, 92);
  text-decoration: line-through;
  transition: .2s;
}

.tasks .False{
  padding: 10px;
  line-height: 50px;
  font-style: normal;
  color: black;
}

.tasks .task:hover{
  background: rgb(213, 245, 255);
  transition: .2s;
}

.del_div{
  position: relative;
  float: right;
  right: 25px;
  top: -40px;
}

.delete_task{
  cursor: pointer;
  width: 100px;
  left: 50%;
  height: 30px;
  background-color: #2FD4AE;
  color: rgb(83, 83, 83);
  box-shadow: none;
  outline: none;
  border: 0;
  border-radius: 40px;
  transition: .2s;
}

.delete_task:hover{
  background-color: rgb(68, 226, 189);
}

.edit_project_button{
  position: relative;
  text-align: center;
  cursor: pointer;
  width: 100%;
  height: 30px;
  background-color: #2FD4AE;
  color: rgb(83, 83, 83);
  box-shadow: none;
  outline: none;
  border: 0;
  border-radius: 40px;
  margin-bottom: 10px;
  transition: .2s;
}

.edit_project_button:hover{
  background-color: rgb(68, 226, 189);
}

.delete_project_button{
  position: relative;
  text-align: center;
  cursor: pointer;
  width: 20%;
  float: right;
  height: 30px;
  background-color: #2FD4AE;
  box-shadow: none;
  outline: none;
  color: rgb(83, 83, 83);
  border: 0;
  border-radius: 40px;
  margin-bottom: 10px;
  transition: .2s;
}

.delete_project_button:hover{
  background-color: rgb(68, 226, 189);
}

.delete_project_button a{
  color: rgb(83, 83, 83);
}

.add_user_button{
  position: relative;
  text-align: center;
  cursor: pointer;
  width: 100px;
  height: 30px;
  background-color: #2FD4AE;
  box-shadow: none;
  outline: none;
  color: rgb(83, 83, 83);
  border: 0;
  border-radius: 40px;
  margin-bottom: 10px;
  transition: .2s;
}

.add_user_button:hover{
  background-color: rgb(68, 226, 189);
}
.project_users{
  width: 100%;
  background-color: rgb(241, 241, 241);
  height: 30px;
  padding: 5px;
  border-radius: 40px;
}

.project_users .user{
  float: left;
  margin-left: 5px;
  cursor: default;
  text-align: center;
  min-width: 40px;
  padding: 5px;
  height: 20px;
  background-color: rgb(115, 236, 208);
  box-shadow: none;
  outline: none;
  border: 0;
  border-radius: 40px;
  color: rgb(83, 83, 83);
}

.project_users .user_info{
  float: left;
  margin-left: 5px;
  cursor: default;
  text-align: center;
  min-width: 40px;
  padding: 5px;
  height: 20px;
  box-shadow: none;
  outline: none;
  border: 0;
  border-radius: 40px;
  color: rgb(83, 83, 83);
}