<!DOCTYPE html>
</html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        </html>
            <div class="login_container">
                <div class="login_box">
                    <h2>Log In to Your Account</h2>
                        <form method="POST">
                            <div class="user_box">

                                <input type="text" name="username" placeholder="username"/>
                            </div>

                            <div class="user_box">

                                <input type="password" name="password" placeholder="password"/>
                            </div>

                            <div class="submit_button">
                                <input type="submit" value="log-in"/>
                        </form>        
                        <a>{{wrong_pass}}</a>
                    </div>
                </div>
            </div>
    </body>
</html>