<!DOCTYPE html>
</html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_userdashboard.css') }}">
    </head>
        <body> 
            <div class="side_panel">
                <h1>Logged-in as {{g.user.username}}</h1>
                <ul style="list-style:none;">
                    <li><a href="#"><i class="projects">Dashboard</i></a></li>
                    <li><a href="#"><i class="projects">Projects</i></a></li>
                    <li><a href="/add_project"><i class="projects">Create Project</i></a></li>
                    <li><a href="#"><i class="projects">PlaceHolder3</i></a></li>
                </ul>
            </div>
                <div class="projects_assigned">
                    <ul class="main_list">
                        {% for project in projects %}
                        <button class="accordion">{{project.project_name}}</button>
                            <div class="panel">
                                <form method="POST">
                                    <li class="proj_desc">Start date: {{project.start_date}} Deadline: {{project.deadline}} Phase: {{project.phase}}</li>
                                    <div class="add_new_task">
                                        <input type="hidden" id="ph" name="ph" value={{project.project_name}} />
                                        <input type="text" name="add_task" placeholder="add new task"/>
                                        <button class="add_task_button" >add task</button>
                                    </div>
                                        <ul>
                                            {% for task in project.tasks %}
                                                <input type="checkbox" value={{task}}/>
                                                <label>{{task}}</label><br>
                                            {% endfor %}
                                        </ul>
                                </form>
                            </div>
                        {% endfor %}
                    </ul>
                </div>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
        } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
        } 
    });
    }
</script>

        </body>
</html>