<!DOCTYPE html>
</html>
    <head></head>
    <body>
        <h1>Logged-in as {{g.user.username}}</h1>
            <div class="side_panel">
                <ul>
                    <li><a href="#"><i class="projects">Daashboard</i></a></li>
                    <li><a href="#"><i class="projects">Projects</i></a></li>
                    <li><a href="#"><i class="projects">Manage</i></a></li>
                    <li><a href="#"><i class="projects">PlaceHolder#3</i></a></li>
                </ul>
            </div>

            <div class="Projects_assigned">
                
            </div>
    </body>
</html>